// @Author: Hong Anh <honganh>
// @Date:   2016-12-27T11:55:49+07:00
// @Email:  chidungdekiemtra@gmail.com
// @Project: Onemax
// @Last modified by:   honganh
// @Last modified time: 2016-12-27T12:04:20+07:00

table {
	width: 100%;
	color: #1d2531;
	th {
		text-align: left;
	}
	th,
	td {
		padding: 20px;
		vertical-align: top;
		border-top: solid 1px #e7e9ed;
		&:first-child {
			padding-left: 30px;
		}
	}
	thead {
		th {
			vertical-align: bottom;
		    padding-top: 20px;
    		padding-bottom: 20px;
    		border-bottom: 3px solid #eee;
    		border-top:none;
		}
	}
}
