// @Author: Hong Anh <honganh>
// @Date:   2016-12-27T11:54:47+07:00
// @Email:  chidungdekiemtra@gmail.com
// @Project: Onemax
// @Last modified by:   honganh
// @Last modified time: 2016-12-27T11:58:28+07:00



.box {
	background: #fff ;
	border: solid 1px #e6eaee;
	border-radius: 3px;
	padding: 30px 25px;
}

.box-head {
	padding: 20px 0 0 30px;
}

.box-content {
	padding:30px;
}
